@font-face {
   font-family: 'MADE Tommy Soft Light PERSONAL USE';
   font-display: swap;
   src: url('file:///C:/Users/Edevis%20Raga/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-10_224401/fonts/MADE%20Tommy%20Soft%20Light%20PERSONAL%20USE/font.otf');
}
