@font-face {
   font-family: 'MADE Tommy Soft Regular PERSONAL USE';
   font-display: swap;
   src: url('file:///C:/Users/Edevis%20Raga/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-09_145316/fonts/MADE%20Tommy%20Soft%20Regular%20PERSONAL%20USE/font.otf');
}
